.btn {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  outline: none;

  border: 2px solid $ui-btn-border;

  min-width: 182px;
  padding: 11px 15px;

  transition: all 0.2s ease-out;

  &:hover,
  &:focus,
  &:disabled {
    border-color: $ui-btn-border-hover;
  }

  &.disabled,
  &:disabled {
    opacity: 0.25;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.btn_primary {
  background-color: $ui-btn-primary;
  color: $ui-btn-primary-color;

  &:hover,
  &:focus,
  &:disabled {
    background: $ui-btn-primary-hover;
  }
}

.btn_outline {
  background-color: $ui-btn-outline;
  color: $ui-btn-outline-color;

  &:hover,
  &:focus,
  &:disabled {
    color: $ui-btn-outline-hover;
  }
}

@media only screen and (max-width: 767.98px) {
  .btn_max_sm {
    width: 100%;
  }
}
