$ui-color-primary: #781f19!default;
$ui-color-primary-hover: #853c36!default;

$ui-global-transition: all 0.2s ease-out;

// Btns

$ui-btn-primary: $ui-color-primary!default;
$ui-btn-primary-color: #ffffff!default;
$ui-btn-primary-hover: $ui-color-primary-hover!default;
$ui-btn-primary-icon: #ffffff!default;

$ui-btn-outline: transparent!default;
$ui-btn-outline-color: $ui-color-primary!default;
$ui-btn-outline-hover: $ui-color-primary-hover!default;
$ui-btn-outline-icon: $ui-color-primary!default;

$ui-btn-border: $ui-color-primary!default;
$ui-btn-border-hover: $ui-color-primary-hover!default;

$ui-btn-icon: #ffffff!default;
$ui-btn-radius: 20px!default;

// Title

$ui-title-line-color: $ui-color-primary!default;

// Card

$ui-card-border: $ui-color-primary!default;
$ui-card-title: #ffffff!default;
$ui-card-cover: rgba(0, 0, 0, 0.5)!default;
$ui-card-cover-hover: rgba(0, 0, 0, 0.45)!default;
