.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    height: 117px;
    padding: 0 20px;
    overflow: hidden;

    &:hover {
      &::after {
        background: $ui-card-cover-hover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $ui-card-cover;
      transition: $ui-global-transition;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: $ui-card-title;
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
      z-index: 2;
      text-align: center;
    }
  }

  &__body {
    border: 2px solid $ui-card-border;
    border-top-width: 0;
    padding: 20px 20px 70px;
  }

  &__row {
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__title {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  &__more {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    height: 40px;
  }

  &__delete {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 30px;
    height: 30px;
    z-index: 5;

    svg {
      width: 30px;
      height: 30px;
    }

    &-backdrop {
      background: $ui-card-backdrop;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      transform: translateY(-100%);
      transition: $ui-global-transition;
      will-change: transform;
      padding: 0 10px;
      z-index: 10;

      &_active {
        transform: translateY(0);
      }
    }

    &-title {
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $ui-card-backdrop-title;
      margin: 0 0 20px;
    }

    &-btn {
      min-width: 86px;
      margin: 0 10px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    &__header {
      height: 180px;

      &-title {
        font-size: 20px;
        line-height: 27px;
      }
    }

    &__body {
      padding: 30px 60px 70px 30px;
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 27px;
    }
  }
}
